:root {
  /* 1. Colores Principales (Paleta) */
  --color-primary: #1F0C33;
  --color-secondary: #3B2155;
  --color-background: #DDBBFE;
  --color-text: #0b101c;
  --color-text-2: #FFFFFF;
  --color-secondary-1: #634780;
  --color-secondary-2: #937CAA;
  --color-secondary-3: #C9BED5;

  /* 2. Tipografía */
  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-secondary: "Cinzel", serif;
  --font-family-description: "Google Sans", sans-serif;

  /* 3. Bordes y Sombras */
  --border-radius: 8px;
  --border-card: 12px;
  --shadow-base: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}